<!DOCTYPE html>
<html lang="zh">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>家·谱——{{name}}详情</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="/static/facelist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/facelist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/facelist/css/fontAwesome.css">
	<link rel="stylesheet" href="/static/facelist/css/light-box.css">
	<link rel="stylesheet" href="/static/facelist/css/templatemo-main.css">

<!--	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">-->

	<script src="/static/facelist/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	{% if messages %}
	<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}

</head>

<body>

<div class="sequence">

  <div class="seq-preloader">
	<svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
  </div>
  
</div>


	<nav>
	  <div class="logo">
		  <h2 style="color:white;"><i class="fa fa-address-book"></i>人员详情</h2>
	  </div>
	  <div class="mini-logo">
		  <h2 style="color:white;"><i class="fa fa-address-book"></i></h2>
	  </div>
	  <ul>
		  <li><a href="#1"><i class="fa fa-home"></i> <em>概述</em></a></li>
		  <li><a href="#2"><i class="fa fa-map"></i> <em>地图</em></a></li>
		  <li><a href="#3"><i class="fa fa-users"></i> <em>家谱</em></a></li>
		  <li><a href="#4"><i class="fa fa-image"></i> <em>图像</em></a></li>
		  <li><a href="#5"><i class="fa fa-pencil"></i> <em>编辑</em></a></li>
		  <li><a href="#5" onclick="window.open('/namelist','_self')"><i class="fa fa-mail-reply"></i> <em>返回</em></a></li>
	  </ul>
	</nav>
	
	<div class="slides">
	  	<div class="slide" id="1">
		<div class="content first-content">
		  <div class="container-fluid">
			  <div class="col-md-3">
				  <div class="author-image"><img src="{{first_pic}}" alt=""></div>
			  </div>
			  <div class="col-md-9">
				  <h2>{{name}}</h2>
				  <p>{{info|default:"<p>没有留下概述。</p><div class='main-btn'><a href='#5'>去补充>></a></div>"|safe}}</p>
			  </div>
		  </div>
		</div>
	  </div>
	  	<div class="slide" id="2">
		<div class="content second-content">
			<div class="container-fluid">
				<div class="col-md-12 third-content">
						<h2 class="col-md-12 col-xs-12" style="color:white;"><i class="fa fa-map"></i>地图标记展示</h2>
						<script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=2nA3yRr0qVsKsjfykAAheoXwncT27Kvi"></script>
						  <div class="col-md-12 col-xs-12" style="height:400px;" id="map-container"></div>
							  <script>
								  var map = new BMapGL.Map('map-container');

								  var point = new BMapGL.Point({{loc1_x|default:"121.510342"}}, {{loc1_y|default:"30.83673"}});
								  map.centerAndZoom(point, 17);
								  var marker = new BMapGL.Marker(point);  // 创建标注
								  map.addOverlay(marker);
								  var opts = {
									  width: 300,
									  height: 100,
									  title: '{{name}}'
								  };
								  var infoWindow = new BMapGL.InfoWindow('（{{loc1_x|default:"默认经度"}}, {{loc1_y|default:"默认纬度"}}）{{loc1_info|default:""}}', opts);
								  map.openInfoWindow(infoWindow, point);

								  var point1 = new BMapGL.Point({{loc2_x|default:"121.510342"}}, {{loc2_y|default:"30.83673"}});
								  var marker1 = new BMapGL.Marker(point1);  // 创建标注
								  map.addOverlay(marker1);
								  var opts = {
									  width: 300,
									  height: 100,
									  title: '{{name}}'
								  };
								  var infoWindow1 = new BMapGL.InfoWindow('（{{loc2_x|default:"默认经度"}}, {{loc2_y|default:"默认纬度"}}）{{loc2_info|default:""}}', opts);

								  var point2 = new BMapGL.Point({{loc3_x|default:"121.510342"}}, {{loc3_y|default:"30.83673"}});
								  var marker2 = new BMapGL.Marker(point2);  // 创建标注
								  map.addOverlay(marker2);
								  var opts = {
									  width: 300,
									  height: 100,
									  title: '{{name}}'
								  };
								  var infoWindow2 = new BMapGL.InfoWindow('（{{loc3_x|default:"默认经度"}}, {{loc3_y|default:"默认纬度"}}）{{loc3_info|default:""}}', opts);



								  marker.addEventListener("click", function(){
    									map.openInfoWindow(infoWindow, point);
									});
								  marker1.addEventListener("click", function(){
    									map.openInfoWindow(infoWindow1, point1);
									});
								  marker2.addEventListener("click", function(){
    									map.openInfoWindow(infoWindow2, point2);
									});



								  var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
								  map.addControl(scaleCtrl);
								  var zoomCtrl = new BMapGL.ZoomControl();  // 添加比例尺控件
								  map.addControl(zoomCtrl);
							  </script>
						<h4 class="btn" onclick="map.openInfoWindow(infoWindow, point);">标点1&nbsp;{% if not loc1_x %}待补充{% endif %}</h4>
						<h4 class="btn" onclick="map.openInfoWindow(infoWindow1, point1);">标点2&nbsp;{% if not loc2_x %}待补充{% endif %}</h4>
						<h4 class="btn" onclick="map.openInfoWindow(infoWindow2, point2);">标点3&nbsp;{% if not loc3_x %}待补充{% endif %}</h4>
					    <h4 class="main-btn"><a href="#5">补充地图标点信息>></a></h4>
				</div>
			</div>
		</div>
	  </div>
	  	<div class="slide" id="3">
		<div class="content third-content">
			<div class="container-fluid">
				<div class="col-md-12">
					<div class="row">
						<div class="first-section">
							<div class="container-fluid">
								<div class="row">
									<div>
										<h2 class="col-md-12 col-xs-12" style="color:white;"><i class="fa fa-users"></i>家谱展示</h2>
										<div class="col-md-8 col-m-offset-2 col-xs-12">
											<img src="{% static familytreepath %}" class="img-responsive" style="height:100%; width:auto;" alt="家谱加载失败">
											<p>*家谱是动态生成的，您只需要补充完整所需信息即可
												<div class='main-btn'><a href='#5'>去补充>></a></div>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="second-section">
							<div class="container-fluid">
								<div class="row">
										<div class="right-content">
											<h2 class="col-md-12 col-xs-12">家族成员</h2>
											    {% for person in family %}
													<span onclick="window.open('/facelist/{{person}}','_self');" class="main-btn"><a href="">{{person}}</a>
													</span>
												{% endfor %}

										</div>
								</div>
							</div>
							<div class="container-fluid">
								<div class="row">
										<div class="right-content">
											<h2 class="col-md-12 col-xs-12">可能认识的人</h2>
											    {% for person in family %}
													<span onclick="window.open('/facelist/{{person}}','_self');" class="main-btn"><a href="">{{person}}</a>
													</span>
												{% endfor %}

										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
		<div class="slide" id="4">
		<div class="content fourth-content">
			<div class="container-fluid">
				<div class="row mt10">
					{% for upload_time,path,count,re_path in facelist %}
					<div class="col-md-3 col-sm-6">
						<div class="item">
							<div class="thumb">

									<div class="hover-effect">
										<div class="hover-content">
											<h2>{{name}}</h2>
											<p>上传时间：</p>
											<p>{{upload_time}}</p>
											<p><a href="/pic_info/{{re_path}}" >点此以查看头像来源>></a></p>
                      <a href="/edit_pic/{{path}}">删除>></a>                                        
										</div>
									</div>

								<div class="image">
									<img src="{{path}}">
								</div>
							</div>
						</div>
					</div>
					{% if  count == 0 %}
				</div>
				<div class="row mt10">
        			{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
	  </div>
		<div class="slide" id="5">
			<div class="content fifth-content">
				<div class="container-fluid" style="color:white">
					<form name='people_edit-form' method='post' action="/face_edit/{{name}}">
						{% csrf_token %}
						<div class="  third-content">
							<h2 class="col-md-12"><i class="fa fa-pencil"></i>{{name}}编辑</h2>
						</div>

						<div class="row">
							<div class="col-md-6 col-xs-12" style="border:5px;">
								<fieldset>
									<legend><h3 style="color:white">详细姓名</h3></legend>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="name" value="{{name}}" placeholder="全名"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="first_name" value="{{first_name|default:''}}" placeholder="first name"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="middle_name" value="{{middle_name|default:''}}" placeholder="middle name"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="last_name" value="{{last_name|default:''}}" placeholder="last name"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="xing" value="{{xing|default:''}}" placeholder="中文姓氏"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="ming" value="{{ming|default:''}}" placeholder="中文名字"></h5>

								</fieldset>
								<fieldset>
									<legend><h3 style="color:white">地图标点</h3></legend>
									<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
										<h5 class="col-md-5 col-xs-5"><input type="text" name="loc1_x" value="{{loc1_x|default:''}}" placeholder="标点1经度"></h5>
										<h5 class="col-md-5 col-xs-5 col-md-offset-2 col-xs-offset-2"><input type="text" name="loc1_y" value="{{loc1_y|default:''}}" placeholder="标点1纬度"></h5>
										<h5 class="col-md-12 col-xs-12"><input type="text" name="loc1_info" value="{{loc1_info|default:''}}" placeholder="标点1注释"></h5>
									</div>
									<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
										<h5 class="col-md-5 col-xs-5"><input type="text" name="loc2_x" value="{{loc2_x|default:''}}" placeholder="标点2经度"></h5>
										<h5 class="col-md-5 col-xs-5 col-md-offset-2 col-xs-offset-2"><input type="text" name="loc2_y" value="{{loc2_y|default:''}}" placeholder="标点2纬度"></h5>
										<h5 class="col-md-12 col-xs-12"><input type="text" name="loc2_info" value="{{loc2_info|default:''}}" placeholder="标点2注释"></h5>
									</div>
									<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
										<h5 class="col-md-5 col-xs-5"><input type="text" name="loc3_x" value="{{loc3_x|default:''}}" placeholder="标点3经度"></h5>
										<h5 class="col-md-5 col-xs-5 col-md-offset-2 col-xs-offset-2"><input type="text" name="loc3_y" value="{{loc3_y|default:''}}" placeholder="标点3纬度"></h5>
										<h5 class="col-md-12 col-xs-12"><input type="text" name="loc3_info" value="{{loc3_info|default:''}}" placeholder="标点3注释"></h5>
									</div>
								</fieldset>

							</div>
							<div class="col-md-6 col-xs-12">
								<fieldset>
									<legend><h3 style="color:white">个人与家族</h3></legend>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="mate" value="{{mate|default:''}}" placeholder="伴侣"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="father" value="{{father|default:''}}" placeholder="父亲"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="mother" value="{{mother|default:''}}" placeholder="母亲"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="text" name="kids" value="{{kids|default:''}}" placeholder="后代,遵循json格式"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="datetime-local" name="birth_date" value="{{birth_date|default:''}}" placeholder="出生日期"></h5>
									<h5 class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><input type="datetime-local" name="death_date" value="{{death_date|default:''}}" placeholder="去世日期"></h5>
								</fieldset>
								<fieldset>
									<legend><h3 style="color:white">人物概述</h3></legend>
									<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1"><textarea name="info" placeholder="简述">{{info|default:''}}</textarea></div>
								</fieldset>
							</div>
						</div>

							<h2 class="col-md-2 col-md-offset-5">
								<button type="submit" class="btn btn-default">提交</button>
							</h2>

					</form>
				</div>
			</div>
		  </div>
	</div>

	<div class="footer">

	  <div class="content row">

	  </div>
	</div>


<script src="/static/facelist/js/vendor/jquery-1.11.2.min.js"></script>

<script src="/static/facelist/js/vendor/bootstrap.min.js"></script>

<script src="/static/facelist/js/datepicker.js"></script>
<script src="/static/facelist/js/plugins.js"></script>
<script src="/static/facelist/js/main.js"></script>

<script type="text/javascript">
$(document).ready(function() {

	

	// navigation click actions 
	$('.scroll-link').on('click', function(event){
		event.preventDefault();
		var sectionID = $(this).attr("data-id");
		scrollToID('#' + sectionID, 750);
	});
	// scroll to top action
	$('.scroll-top').on('click', function(event) {
		event.preventDefault();
		$('html, body').animate({scrollTop:0}, 'slow');         
	});
	// mobile nav toggle
	$('#nav-toggle').on('click', function (event) {
		event.preventDefault();
		$('#main-nav').toggleClass("open");
	});
});
// scroll function
function scrollToID(id, speed){
	var offSet = 0;
	var targetOffset = $(id).offset().top - offSet;
	var mainNav = $('#main-nav');
	$('html,body').animate({scrollTop:targetOffset}, speed);
	if (mainNav.hasClass("open")) {
		mainNav.css("height", "1px").removeClass("in").addClass("collapse");
		mainNav.removeClass("open");
	}
}
if (typeof console === "undefined") {
	console = {
		log: function() { }
	};
}
</script>
</body>
</html>