<!DOCTYPE html>
<html lang="zh">
<head>
	{% load static %}
	<title>家·谱——照片详情</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- stylesheet css -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="/static/css/templatemo-style.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link href="/static/css/theme.css" rel="stylesheet">
	<script src="/static/js/gcoord.global.prod.js"></script>
	{% if messages %}
	<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
	{% endif %}
	<style>
        .white_content {
            display: none;
            position:fixed;
            top:15%;
            left:30%;
            width:40%;
            padding: 20px;
            text-align:center;
            border: 10px solid grey;
            background-color: black;
            z-index:1002;
            overflow: auto;
			opacity: 80%;
			color: #fff;
        }
        .white_content h3 h4{
        	color: #fff;
        }

    </style>
	<style>
    .weicot_radio{
        margin-top:0.5em;
        margin-right:0.5em;
    }
    .weicot_radio input[type="radio"]{
        display:none;
    }
    .weicot_radio input[type="radio"] + label{
        padding:0.2em 1em;
        border:1px solid #CCCCCC;
      /*  border-radius:0.5em;*/
        color:#999;
    }
    .weicot_radio input[type="radio"]:checked + label {
        padding: 0.2em 1em;
        border: 1px solid #3399CC;
       /* border-radius: 0.5em;*/
        background: #3399CC;
        color: #FFFFFF;
	</style>
	<script type="text/javascript">
		function result(){
			document.getElementById('result').style.display='block';
			document.getElementById('origin').style.display='none';
			document.getElementById('super').style.display='none';
		}

		function origin(){
			document.getElementById('result').style.display='none';
			document.getElementById('origin').style.display='block';
			document.getElementById('super').style.display='none';
		}
		function supersol(){
			document.getElementById('result').style.display='none';
			document.getElementById('origin').style.display='none';
			document.getElementById('super').style.display='block';
		}
	</script>
	<script type="text/javascript">
        function openDialog(){
            document.getElementById('light').style.display='block';
        }
        function closeDialog(){
            document.getElementById('light').style.display='none';
        }
        openDialog();
    </script>

</head>
<body>
<div id="light" class="white_content">
	<button type="button" class="close" aria-hidden="true" style="color:white;" onclick="closeDialog()">
    &times;
  	</button>
	<h3>处理中</h3>
	<h4 id="info">图像识别中，请耐心等待…………</h4>
	<img class="img-responsive center-block" src="/static/images/loading.gif" alt="loading">
</div>
<!-- navigation -->

	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="/static/images/logo.png" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/index">主页</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						更多功能
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" style="background: #babfa9;color: #273a17;">
						<li><a href="/user">用户登录</a></li>
						<li><a href="/faceupload">人员录入</a></li>
						<li><a href="/recognition">人员识别</a></li>
						<li><a href="/namelist">人员列表</a></li>
						<li><a href="/about">关于我们</a></li>
						<li><a href="/admin">管理员站点</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- contact section -->
<div id="contact">
	<div class="container">
		<div class="row">
			<div class="text-center">
				<h2><i class="fa fa-photo"></i>{{title|default:"照片"}}详情</h2>
				<div class="center-block text-center weicot_radio" >
						<input type="radio" name="pic" onclick="origin()" id="p_1"><label for="p_1" >原图</label>
						{% if origin %}
						<input type="radio" name="pic" onclick="supersol()" id="p_3" checked><label for="p_3" >原分辨率</label>
						{% endif %}
						<input type="radio" name="pic" onclick="result()" id="p_2" checked><label for="p_2" >标注</label>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1 col-sm-12 mt30">
				<a id="result" href="/static/{{path}}?v={{random}}" data-lightbox-gallery="portfolio-gallery"><img class="img-responsive center-block" src="/static/{{path}}?v={{random}}" alt="总览图"></a>
				<a id="origin" href="/static/upload/{{path}}?v={{random}}" data-lightbox-gallery="portfolio-gallery" style="display:None"><img class="img-responsive center-block" src="/static/upload/{{path}}?v={{random}}" alt="原图"></a>
				{% if origin %}
				<a id="super" href="/static/{{origin}}?v={{random}}" data-lightbox-gallery="portfolio-gallery" style="display:None"><img class="img-responsive center-block" src="/static/{{origin}}?v={{random}}" alt="原分辨率"></a>
				{% endif %}
				<form action="/pic_change/{{path}}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="file" name="pic" required="required" accept="image">
					<button type="submit">重传文件</button>
				</form>
				<h4 class="col-md-12 col-xs-12">{{path}}基本信息:</h4>
				<table class="table"><tbody><tr><td></td></tr></tbody></table>
				<form action="/pic_info_edit/{{path}}" method="post" >
					<div class="col-md-4 col-sm-12">

							{% csrf_token %}
							标题：<input class="form-control" type="text" name="title" value="{{title|default:''}}">
							拍摄时间：<input class="form-control" type="datetime-local" name="token_time" value="{{token_time|default:''}}">
							预估时间：{{time_range}}

					</div>
					<div class="col-md-4 col-sm-12">
						拍摄背景：<textarea class="form-control"  rows="6" name="info">{{info|default:''}}</textarea>
					</div>
					<div class="col-md-4 col-sm-12">
						<script>
							function WGS84toBD09() {
								// 弹窗输入两个浮点数
								// let num1 = parseFloat(prompt("请输入loc_x:"));
								// let num2 = parseFloat(prompt("请输入loc_y:"));
							
								var result = gcoord.transform(
									// [num1, num2],    // 经纬度坐标
									[document.getElementById("loc_x").value, document.getElementById("loc_y").value],
									gcoord.WGS84,               // 当前坐标系
									gcoord.BD09                 // 目标坐标系
								);
							
								// 将结果填入表单的输入框中
								document.getElementById("loc_x").value = result[0]; // 保留两位小数
								document.getElementById("loc_y").value = result[1]; // 保留两位小数
								alert("转换成功！");
							}
						</script>
						
						位置信息：<input class="form-control" type="text" name="loc_info" value="{{loc_info|default:''}}">
						loc_x：<input class="form-control " type="text" name="loc_x" id="loc_x" value="{{loc_x|default:''}}">
						loc_y：<input class="form-control" type="text" name="loc_y" id="loc_y" value="{{loc_y|default:''}}">
						<!-- <span class="btn col-md-offset-2 col-md-8 col-xs-offset-2 col-xs-8" onclick="WGS84toBD09()">转换WGS84至BD09</span> -->
					</div>
						<script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=2nA3yRr0qVsKsjfykAAheoXwncT27Kvi"></script>
						  <div class="col-md-12 col-xs-12" style="height:400px;" id="map-container"></div>
							  <script>
								  var map = new BMapGL.Map('map-container');
								  map.setMapType(BMAP_SATELLITE_MAP);
								  var loc_res = gcoord.transform(
									[{{loc_x|default:121.42011054972664}}, {{loc_y|default:31.145494448340546}}],    // 经纬度坐标
									gcoord.WGS84,               // 当前坐标系
									gcoord.BD09                 // 目标坐标系
								);
								  var point = new BMapGL.Point(loc_res[0],loc_res[1]);
								  map.centerAndZoom(point, 17);
								  var marker = new BMapGL.Marker(point);  // 创建标注
								  map.addOverlay(marker);
								  var opts = {
									  width: 300,
									  height: 100,
									  title: '{{name}}'
								  };
								  
								  var infoWindow = new BMapGL.InfoWindow('（{{loc_x|default:"默认经度"}}, {{loc_y|default:"默认纬度"}}）{{loc_info|default:""}}', opts);
								  map.openInfoWindow(infoWindow, point);

								  marker.addEventListener("click", function(){
    									map.openInfoWindow(infoWindow, point);
									});



								  var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
								  map.addControl(scaleCtrl);
								  var zoomCtrl = new BMapGL.ZoomControl();  // 添加比例尺控件
								  map.addControl(zoomCtrl);
							  </script>
					    
					<div class="col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-5 mt30"><button type="submit" class="btn">提交</button></div>
				</form>
				<br>
				<h4 class="col-md-12 col-xs-12 mt30">相关人物：</h4>
				<table class="table">
				  <tbody>
					{% for num,name,id in namelist%}
					<tr>
						<td><h4>{{num}}号人脸</h4></td>
					    <td><h4>{{name}}</h4></td>
					    <td><h4><a href="/facelist/{{id}}">详情>></a></h4></td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
				<a class="btn center-block" href="/recog_again/{{path}}" onclick="openDialog();">合照重识与补录功能——{% if use_baidu == 1 %}百度API识别{% endif %}{% if use_baidu == 0 %}自有库识别{% endif %}</a>
				<script>
					function confirmAndDelete() {
						// 弹出确认对话框
						const isConfirmed = window.confirm("你确定要删除吗？");

						// 如果用户点击了确认
						if (isConfirmed) {
							fetch("/pic_del/{{path}}", {
								method: 'GET',
								headers: {
									'Content-Type': 'application/json'
								}
							})
							.then(response => {
								// 检查请求是否成功
								if (!response.ok) {
									throw new Error('网络响应失败');
								}
							})
							.then(data => {
								console.log('删除成功:', data);
								// 在这里你可以添加更多的逻辑，比如更新UI等
								alert('删除成功！');
								window.location.href = '/piclist';
							})
							.catch(error => {
								console.error('删除过程中发生错误:', error);
								alert('删除失败，请重试。');
							});
						} else {
							console.log('删除操作已取消');
							alert('删除操作已取消');
						}
					}
					</script>
				<div class="btn center-block mt30" onclick="confirmAndDelete()">删除相片</div>
			</div>
		</div>
	</div>
</div>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-5 col-sm-4">
				<img src="/static/images/logo.png" class="img-responsive" alt="logo">
				<p>家·谱——智能家谱录入查询是一款基于人脸识别与图像标签的在线家谱查询录入系统，提供人脸录入、识别到家谱构建的一站式服务
                </p>
				<p><i class="fa fa-phone"></i> 13774383668</p>
				<p><i class="fa fa-envelope-o"></i> boyifan1@126.com</p>
                <p><i class="fa fa-github"></i> KirigiriSuzumiya</p>
			</div>

			<div class="col-md-3 col-sm-4">
				<h3>快捷链接</h3>
				<p><a href="/admin">管理员站点</a></p>
				<p><a href="/faceupload">人员录入</a></p>
				<p><a href="/recognition">人员识别</a></p>
				<p><a href="/namelist">人员列表</a></p>
				<p><a href="/about">关于我们</a></p>
			</div>

			<div class="col-md-4 col-sm-4 newsletter">
				<h3>登陆状态</h3>
				<p>{{user}} 您好！</p>
				<div class="input-group">
					<span  class="btn email"><a href="/logout">登出</a></span>
				</div>
			</div>

		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>华东理工大学</p>
			</div>

		</div>
	</div>
</div>


<!-- javascript js -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/nivo-lightbox.min.js"></script>
</body>
</html>