<!DOCTYPE html>
<html lang="zh">
<head>
	{% load static %}
	<title>家·谱——合照重识与补录</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- stylesheet css -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="/static/css/templatemo-style.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link href="/static/css/theme.css" rel="stylesheet">
	{% if messages %}
	<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}

    </script>
	{% endif %}
	<script type="text/javascript">
        function upload_again(num,name,path){
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();  //增加csrf变量将在data中传参以避免403错误
        	// 朝后端发送ajax请求
				$.ajax({
				// 1.指定朝哪个后端发送ajax请求
				url:'/upload_again', //不写就是朝当前地址提交【与form表单的action参数相同】
				// 2.请求方式
				type:'post',  // 不指定默认就是get，都是小写
				// 3.数据
				data:{'csrfmiddlewaretoken': csrf,'num':num,'name':name,'path':path},
				// 4.回调函数:当后端给你返回结果的时候会自动触发，args接受后端的返回结果
				success:function (args) {
					document.getElementById(num).innerHTML=args;
					document.getElementById(num).onclick = "";
					document.getElementById(num).parentNode.parentNode.parentNode.style.backgroundColor = "lime";
				}
				})
        }
        function upload_input(num,path){
        	var name = prompt("输入补录对象的姓名");
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();  //增加csrf变量将在data中传参以避免403错误
        	// 朝后端发送ajax请求
				$.ajax({
				// 1.指定朝哪个后端发送ajax请求
				url:'/upload_again', //不写就是朝当前地址提交【与form表单的action参数相同】
				// 2.请求方式
				type:'post',  // 不指定默认就是get，都是小写
				// 3.数据
				data:{'csrfmiddlewaretoken': csrf,'num':num,'name':name,'path':path},
				// 4.回调函数:当后端给你返回结果的时候会自动触发，args接受后端的返回结果
				success:function (args) {
					document.getElementById(num).innerHTML=args;
					document.getElementById(num).onclick = "";
					document.getElementById(num).parentNode.parentNode.parentNode.style.backgroundColor = "lime";
				}
				})
        }
        function upload_input_random(num,path){
        	var name = 'random'
        	var csrf = $('input[name="csrfmiddlewaretoken"]').val();  //增加csrf变量将在data中传参以避免403错误
        	// 朝后端发送ajax请求
				$.ajax({
				// 1.指定朝哪个后端发送ajax请求
				url:'/upload_again', //不写就是朝当前地址提交【与form表单的action参数相同】
				// 2.请求方式
				type:'post',  // 不指定默认就是get，都是小写
				// 3.数据
				data:{'csrfmiddlewaretoken': csrf,'num':num,'name':name,'path':path},
				// 4.回调函数:当后端给你返回结果的时候会自动触发，args接受后端的返回结果
				success:function (args) {
					document.getElementById(num+"r").innerHTML=args;
					document.getElementById(num+"r").onclick = "";
					document.getElementById(num+"r").parentNode.parentNode.parentNode.style.backgroundColor = "lime";
				}
				})
        }
    </script>
</head>
<body>

<!-- navigation -->

	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="/static/images/logo.png" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/index">主页</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						更多功能
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" style="background: #babfa9;color: #273a17;">
						<li><a href="/user">用户登录</a></li>
						<li><a href="/faceupload">人员录入</a></li>
						<li><a href="/recognition">人员识别</a></li>
						<li><a href="/namelist">人员列表</a></li>
						<li><a href="/about">关于我们</a></li>
						<li><a href="/admin">管理员站点</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- contact section -->
<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h2><i class="fa fa-search"></i>合照更新</h2>
				<h3 class="col-md-6 col-sm-6" style="color:grey;"><i class="fa fa-check"></i>合照重识</h3>
				<h3 class="col-md-6 col-sm-6" ><i class="fa fa-spinner"></i>更新补录</h3>
			</div>
			<div class="col-md-10 col-md-offset-1 col-sm-12 mt30">
				<a href="{% static path%}" data-lightbox-gallery="portfolio-gallery"><img class="img-responsive center-block" src="{% static path%}" alt="总览图"></a>
                <h4>识别结果:</h4>
				<table class="table">
					{% csrf_token %}
					<thead>
						<tr>
						  	<th>人脸编号</th>
						  	<th>识别结果</th>
							<th>准确度</th>
							<th>更多信息</th>
						</tr>
					</thead>
				    <tbody>
				    {% for faceresult in result %}
						<tr>
							<td><h4>{{forloop.counter}}号人脸</h4></td>
							<td></td>
							<td></td>
							<td>
								<h4>
									<a id="{{forloop.counter}}" href="#{{forloop.counter}}" onclick="upload_input({{forloop.counter}},'{% static path%}');">补录(带输入框)>></a>
									<a id="{{forloop.counter}}r" href="#{{forloop.counter}}" onclick="upload_input_random({{forloop.counter}},'{% static path%}');">补录(随机名字)>></a>
								</h4>
							</td>
						</tr>
							{% for name,id,score in faceresult %}
						<tr>
							<td><h4>&nbsp</h4></td>
							<td><h4>{{name|default:"未知"}}</h4></td>
							<td><h4>{{score|stringformat:".2f"}}%</h4></td>
							<td>
								<h4>
								{% if  name != "未知人脸" %}
									<a href="/facelist/{{id}}">详情>></a>
									<a id="{{forloop.parentloop.counter}}" href="#{{forloop.parentloop.counter}}" onclick="upload_again({{forloop.parentloop.counter}},{{id}},'{% static path%}');">补录>></a>
								{% endif %}
								</h4>
							</td>
						</tr>
							{% endfor %}
					<tr></tr>
				    {% endfor %}
				  	</tbody>
				</table>
				<h4>结果数据下载</h4>
				<a class="col-md-5 col-xs-12 btn btn-default" href="{%static path%}" download="result.jpg">
					<h4><i class="fa fa-file-photo-o"></i>图片</h4>
				</a>
				<a class="col-md-5 col-md-offset-2 col-xs-12 btn btn-default" href="{%static xls_path%}" download="result.xls">
					<h4><i class="fa fa-file-excel-o"></i>表格数据</h4>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-5 col-sm-4">
				<img src="/static/images/logo.png" class="img-responsive" alt="logo">
				<p>家·谱——智能家谱录入查询是一款基于人脸识别与图像标签的在线家谱查询录入系统，提供人脸录入、识别到家谱构建的一站式服务
                </p>
				<p><i class="fa fa-phone"></i> 13774383668</p>
				<p><i class="fa fa-envelope-o"></i> boyifan1@126.com</p>
                <p><i class="fa fa-github"></i> KirigiriSuzumiya</p>
			</div>

			<div class="col-md-3 col-sm-4">
				<h3>快捷链接</h3>
				<p><a href="/admin">管理员站点</a></p>
				<p><a href="/faceupload">人员录入</a></p>
				<p><a href="/recognition">人员识别</a></p>
				<p><a href="/namelist">人员列表</a></p>
				<p><a href="/about">关于我们</a></p>
			</div>

			<div class="col-md-4 col-sm-4 newsletter">
				<h3>登陆状态</h3>
				<p>{{user}} 您好！</p>
				<div class="input-group">
					<span  class="btn email"><a href="/logout">登出</a></span>
				</div>
			</div>

		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>华东理工大学</p>
			</div>

		</div>
	</div>
</div>


<!-- javascript js -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/nivo-lightbox.min.js"></script>
</body>
</html>