<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名上传</title>
    {% load static %}
</head>
<body>
    <div>{{upload_states}}</div>

    <div>
        <div>总览：</div>
        <img style="display: inline-block; width: 40%; max-width: 40%; height: auto;" src="{% static total_path%}" alt="">
    </div>

    <div>
        <div>姓名录入：（若不需要录入请留空）</div>
        <ul>
            <form name="name_upload_form" method="POST" action="name_upload">
                {% csrf_token %}
                <input type="text" name="path_list" value="{{path_list}}" readonly hidden>
                <table>
                    <tr>
                        {% for path in path_list %}
                        <td>{{forloop.counter}}号：<br>
                            <img style="display: inline-block; width: 40%; max-width: 40%; height: auto;"src="{% static path %}" alt=""><br>
                            姓名：<input type="text" name="name{{forloop.counter}}">
                        </td>
                        {% endfor %}
                    </tr>
                </table>
                <input type="submit" value="提交">
            </form>
        </ul>
    </div>
    <div>故障联系方式：</div>
    <div>qq：2424690968</div>
    <div>电话：13774383668</div>
    <div>邮箱：boyifan1@126.com</div>
    <a href="./index">刷新（返回主页）</a>
</body>
</html>